<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="keywords" content="Urban Straw,flower,food ,vegetable ,chemicalFree ,noChemical ,sustainable ,farmer ,farm ,delhiNcr ,delivery ,health ,fitness ,diet ,superfood ,delhi ,India ,pure ,fit ,Instafood ,healthyliving ,naturalfood ,smartFarming ,conscious ,summer ,sun">
    <meta name="description" content="All seasonal vegetables, grown without cides, healthy and naturally.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="urbanstraw">
    <meta property="og:title" content="Nisarg Farm | Urban Straw">
    <meta property="og:description" content="Powered by Urban Straw">
    <meta property="og:image" content="http://urbanstraw.com/dist/img/logo_tn.jpg">
    <meta property="og:url" content="http://urbanstraw.com">
    <meta name="twitter:card" content="http://urbanstraw.com/dist/img/logo.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/dist/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/dist/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/dist/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/dist/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/dist/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/dist/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/dist/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/dist/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/dist/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/dist/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/dist/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/dist/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/dist/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/dist/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/dist/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Nisarg Farms</title>
    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/dist/css/business-casual.css" rel="stylesheet">
    <style>
    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }

    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
    </style>
</head>

<body>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3"></span>
      <span class="site-heading-lower"></span>
    </h1>
    <div class="us-logo">
        <a href="/"><img src="/dist/img/logo.png" style="width: 100px;height: 100px;"></a>
    </div>
    <!-- Navigation -->
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/dist/img/nisarg.jpg" alt="">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Nisarg</span>
              <span class="section-heading-upper">Farms</span>
              
            </h2>
                    <p class="mb-3">Born in a farmer's family, he has seen the cultivation cycle endless times. he has been farming organically for 12 months now.. he now uses his knowledge of farming with the PHILOSOPHY of organic farming from preparing compost to spraying neem solution.
                        <br/> Farm Manager - Rajnesh
                    </p>
                    <div class="intro-button mx-auto">
                        <a class="btn btn-primary btn-xl" href="#map-section">Visit Us Today!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section cta" id="map-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-4">
                <span class="section-heading-upper"></span>
                <span class="section-heading-lower"></span>
              </h2>
                        <p class="google-maps mb-0">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.4299321146264!2d77.38912141463892!3d28.646842890184896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cf01b11ebc8bf%3A0xad59c3a9dbe9f1da!2sUnnamed+Road%2C+Pratap+Vihar%2C+Ghaziabad%2C+Uttar+Pradesh+201009!5e0!3m2!1sen!2sin!4v1521494433851" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright &copy; Urban Straw 2018</p>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>